<mat-button-toggle-group #group="matButtonToggleGroup" name="favoriteColor" aria-label="Favorite Color"   >
  <mat-button-toggle *ngFor="let item of categories" (change)="test(item.idFirebase)" value="{{ item.idFirebase }}">{{ item.name }}</mat-button-toggle>
</mat-button-toggle-group>

<div class="content">
  <div class="content__products">
    <div class="product">

    </div>

    <div class="product">

    </div>

    <div class="product">

    </div>
  </div>
</div>
<div>{{ group.value }}</div>
