.mat-button-toggle-group {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;

  .mat-button-toggle {
    width: 100%;
  }
}

.title {
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #1a1a1aa6;

  &__text {
    text-align: center;
    font-size: 30px;
  }
}

.create {
  background-color: #1a1a1a;
  margin-left: 7px;
  margin-top: 20px;

  i {
    font-size: 20px;
    margin-right: 10px;
  }
}

.mat-table {
  width: 99%;
  margin: 0 auto;
  margin-top: 50px;

  .mat-header-cell {
    font-size: 17px;
    text-align: center;
  }

  .mat-cell {
    text-align: center;
  }

}

.mat-paginator {
  width: 99%;
  margin: 0 auto;
  margin-bottom: 320px;
}
