.dialog-note {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-gap: 10px;

  form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    ::ng-deep .mat-focused .mat-form-field-label {
      /*change color of label*/
      color: #fff !important;
    }

    ::ng-deep.mat-form-field-underline {
      /*change color of underline*/
      background-color: #fff !important;
    }

    ::ng-deep.mat-form-field-ripple {
      /*change color of underline when focused*/
      background-color: #fff !important;
    }

    .form-search {
      display: grid;
      grid-template-columns: 90% 10%;
      grid-gap: 3px;

      .form__search--button {
        background-color: #1a1a1a;
        margin-top:14px;

        i {
          color: #fff
        }
      }


    }

    .addProduct {
      background: #1a1a1a;
      width: 40%;
    }

    .form-count {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4px;
    }
  }


  .table--order {
    max-height: 400px;
    overflow: auto;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);

    table {
      width: 100%;
      text-align: center;

      .mat-header-cell {
        font-size: 15px;
        text-align: center;
      }

      .mat-cell {
        text-align: center;
      }
    }

    .mat-paginator {
      margin-top: 3px;
    }
  }

  .table__pay {
    width: 80%;
    h3 {
      margin-bottom: 5px;
      margin-left: 10px;
      float: left;
    }

    .table__pay--buttons {
      float: right;
      margin-bottom: 10px;
    }
  }

}
