<div class="cards">
  <div class="card">
    <div class="card__title">
      <h3>Ventas del día</h3>
    </div>
    <div class="card__content">
      <p>$10,000</p>
    </div>
  </div>
  <div class="card">
    <div class="card__title">
      <h3>Categorías</h3>
    </div>
    <div class="card__content">
      <p>10</p>
    </div>
  </div>

  <div class="card">
    <div class="card__title">
      <h3>Productos</h3>
    </div>
    <div class="card__content">
      <p>300</p>
    </div>
  </div>

  <div class="card">
    <div class="card__title">
      <h3>Faltantes</h3>
    </div>
    <div class="card__content">
      <p>20</p>
    </div>
  </div>
</div>
