form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #fff !important;
  }

  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #fff !important;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #fff !important;
  }

  button {
    background-color: #0A1418;
    width: 80%;
    font-size: 18px;
  }
}
