.notifications {

  .notification {
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-gap: 5px;
    padding-bottom: 5px;
    margin-top: 16px;
    margin-bottom: 8px;

    &__logo {
      border-radius: 40px;
      text-align: center;

      i {
        font-size: 42px;
        padding-top: 8px;
        color: #fff;
      }
    }

    &__information {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 7px;

      span {
        font-size: 13px;
        margin-left: 34px;
        color: #cccc;
        padding-top: 5px;
      }

    }
  }
}
