<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a routerLink="/">
        <img src="./../assets/logo/logo-principal.png" alt="PointShop">
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active"><i class="fas fa-paw icon"></i>Inicio</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active"><i class="fas fa-paw icon"></i>Productos</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active"><i class="fas fa-paw icon"></i>Ventas</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active"><i class="fas fa-paw icon"></i>Proveedores</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active"><i class="fas fa-paw icon"></i>Categorías</a>
    </mat-nav-list>

    <div class="user">
      <div class="user-img">
        <img src="">
      </div>
      <div class="user-text">
        <p>Tu empresa</p>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>


