@import "./shared/styles/variables.scss";
.mat-sidenav {
  width: 170px;
  background-color: #0F1D23;
}

.mat-toolbar {
  background-color: #0F1D23;
  height: 130px;
}

.mat-nav-list ul li {
  margin: 0 auto;
  list-style: none;
  font-family: $fuente-principal;
  font-size: 18px;
  width: 87%;
  height: 36px;
  line-height: 35px;
  margin-bottom: 15px;
  transition: all 0.3s;
}

.mat-nav-list ul .active {
  border-left: 2.3px solid #ccc;
  background: rgba(255, 255, 255, 0.26);
}

.mat-nav-list ul li:hover {
  border-left: 2.3px solid #ccc;
  background: rgba(255, 255, 255, 0.26);
  cursor: pointer;
}

.mat-nav-list ul li i {
  margin-right: 6px;
  font-size:14px;
  margin-left: 10px;
}

.user {
  margin: 0 auto;
  margin-top: 50%;
  width: 100%;

  &__img {
    margin: 0 auto;
    width: 45%;
  }

  &__img img {
    border-radius: 18px;
    margin: 0 auto;
    width: 75px;
  }

  &__text p {
    font-family: $fuente-principal;
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
}




.mat-sidenav-content {
  padding: 10px;
  background: #909990;
  height: 100%;
  width: 100%;

  .toolbar {
    border-radius: 10px;
    height: 30px;
    width: 150px;

    .date .date__text{
      line-height:16px;
      font-size:17px;
      text-align: center;
      font-weight: 400;

      i {
        margin-right: 4px;
        font-size: 16px;
      }
    }
  }

}


.notification {
  margin-left: 30px;
  padding-top: 8px;

  i {
    color: #0F1D23;
    font-size: 25px;
    transition: all 0.3s;
  }

  .mat-icon:hover {
    cursor: pointer;
  }

  i:hover{
    transform: scale(1.1); /* Igual que: scaleX(0.7) scaleY(0.7) */
  }

}




@media (min-width: 320px) {
  .mat-sidenav-content .toolbar {
    width: 180px;

    .date .date__text{
      line-height:13px;

    }
  }
}

@media (min-width:960px) {
  .mat-sidenav-content .toolbar {
    width: 146px;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
