<mat-form-field>
  <input matInput  (keyup)="applyFilter(filterName)" placeholder="Buscar..." [(ngModel)]="filterName">
</mat-form-field>

<table mat-table [dataSource]=dataSource class="mat-elevation-z8">
  <!-- CÓDIGO DE BARRA -->
  <ng-container matColumnDef="codeBar">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let element "> {{element.codeBar}} </td>
  </ng-container>

  <!-- NOMBRE -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name | uppercase }} </td>
  </ng-container>

  <!-- PRECIO -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
  </ng-container>

  <!-- PORCENTAJE DE DESCUENTO -->
  <ng-container matColumnDef="percentDiscount">
    <th mat-header-cell *matHeaderCellDef> % de descuento </th>
    <td mat-cell *matCellDef="let element"> {{ element.percentDiscount }} </td>
  </ng-container>

  <!-- PRECIO CON DESCUENTO -->
  <ng-container matColumnDef="priceDiscount">
    <th mat-header-cell *matHeaderCellDef> Precio con descuento </th>
    <td mat-cell *matCellDef="let element"> {{ element.priceDiscount | currency }} </td>
  </ng-container>

  <!-- CANTIDAD -->
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
    <td mat-cell *matCellDef="let element"> {{ element.count }} </td>
  </ng-container>

  <!-- MÍNIMO VALOR -->
  <ng-container matColumnDef="minValue">
    <th mat-header-cell *matHeaderCellDef> Min.cantidad </th>
    <td mat-cell *matCellDef="let element"> {{ element.minValue }} </td>
  </ng-container>

  <!-- CATEGORIA --> <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Categoría </th>
    <td mat-cell *matCellDef="let element"> {{ element.category }}</td>
  </ng-container>


  <!-- FECHA -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{ element.date*1000 | date: 'dd/MM/yyyy' }} </td>
  </ng-container>

  <!-- ACCIONES -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button class="warn" mat-menu-item>
          <mat-icon style="color: rgb(122, 24, 24)">delete</mat-icon>
          <span style="color: rgb(122, 24, 24)">Borrar</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- PAGINADOR -->
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>

