.mat-form-field {
  display: block;
  width: 40%;
  color: #fff;
  margin-left: 8px;
}

.mat-table {
  width: 99%;
  margin: 0 auto;

  .mat-header-cell {
    font-size: 17px;
    text-align: center;
  }

  .mat-cell {
    text-align: center;
  }

}


.mat-paginator {
  width: 99%;
  margin: 0 auto;
  margin-bottom: 250px;

}
