<form [formGroup]="formProduct">
  <!--Código de barras-->
  <mat-form-field appearance="outline">
    <mat-label>Código de barras</mat-label>
    <input matInput formControlName="codeBar" placeholder="000000000">
    <mat-hint align="end">Mínimo 13 dígitos</mat-hint>
  </mat-form-field>

  <!--Nombre-->
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
    <mat-icon matSuffix><i class='bx bxs-user'></i></mat-icon>
  </mat-form-field>

  <div class="values">

    <!--Cantidad en inventario-->
    <mat-form-field appearance="outline">
      <mat-label>Cant. inventario</mat-label>
      <input matInput formControlName="count" placeholder="0">
      <mat-icon matSuffix><i class='bx bx-folder-minus'></i></mat-icon>
      <mat-hint align="end">Cantidad de productos en inventario</mat-hint>
    </mat-form-field>

    <!--Mínima cantidad en inventario-->
    <mat-form-field appearance="outline">
      <mat-label>Min. cantidad</mat-label>
      <input matInput formControlName="minValue" type="number" placeholder="0">
      <mat-icon matSuffix><i class='bx bx-folder-minus'></i></mat-icon>
      <mat-hint align="end">Mínima cantidad de productos en inventario</mat-hint>
    </mat-form-field>

    <!--Precio-->
    <mat-form-field appearance="outline">
      <mat-label>Precio</mat-label>
      <input matInput (keyup)="changePrice()" formControlName="price" type="number" placeholder="00.00">
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <!--Porcentaje de descuento-->
    <mat-form-field appearance="outline">
      <mat-label>Porcentaje de descuento</mat-label>
      <input matInput (keyup)="changePrice()" type="number" formControlName="percentDiscount" value="0">
      <mat-icon matSuffix><i class='bx bxs-offer'></i></mat-icon>
    </mat-form-field>

    <!--Precio-->
    <mat-form-field appearance="outline">
      <mat-label>Precio con descuento</mat-label>
      <input matInput formControlName="priceDiscount" type="number" placeholder="">
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <!--Categoría-->
    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let item of categories" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!--Escoge fecha-->
    <mat-form-field appearance="outline">
      <mat-label>Escoge una fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <button mat-raised-button [disabled]="!formProduct.valid" (click)="createProduct()" class="createButton" color="primary">Crear</button>
</form>

<button class="generateCode" mat-raised-button (click)="generateCode()">Generar código de barras</button>
