form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #fff !important;
  }

  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #fff !important;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #fff !important;
  }


}
