<div class="dialog-note">
  <form>
    <mat-form-field appearance="outline">
        <mat-label>Código de barras</mat-label>
        <input matInput placeholder="000000000">
        <mat-hint align="end">Mínimo 12 dígitos</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput >
        <mat-icon matSuffix><i class='bx bxs-user'></i></mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number"  placeholder="0">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input matInput type="number"  placeholder="00.00">
        <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Porcentaje de descuento</mat-label>
        <input matInput type="number" value="0">
      <mat-icon matSuffix><i class='bx bxs-offer'></i></mat-icon>
    </mat-form-field>

    <button mat-raised-button>Ingresar producto</button>
  </form>

  <!--TABLA DE PRODUCTOS POR CLIENTE-->
  <div>
    <!-- <table mat-table class="mat-elevation-z8">

    </table> -->
  </div>

</div>
