/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Maitree&family=Red+Rose&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree&family=Red+Rose&display=swap');
* {
  padding: 0;
  margin: 0;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #fff !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #fff !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #fff !important;;
}

.mat-sidenav-content {
  width: 86% !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
