@import "./../../../shared/styles/variables.scss";

.mat-form-field {
  display: block;
  width: 40%;
  color: #fff;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #fff !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #fff !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #fff !important;;
}

.mat-raised-button {
  margin-bottom: 10px;
}

.mat-table {
  border-radius: 10px;
  text-align: center;
  font-family: $fuente-principal;
  width: 96%;
  margin: 0 auto;

  .mat-header-cell {
    font-size: 17px;
    text-align: center;
  }
}

.mat-paginator {
  width: 96%;
  margin: 0 auto;
  margin-bottom: 20px;
}
