.mat-table {
  border-radius: 10px;
  text-align: center;
  width: 80%;

  .mat-header-cell {
    font-size: 19px;
    text-align: center;
  }
}

.mat-paginator {
  width: 80%;
  margin-bottom: 20px;
}
